/* Evidenzia l'elemento attivo della navbar */
.active-link {
  font-weight: bold;
  color: #e2f0ff !important;  /* Blu Bootstrap */
  border-bottom: 2px solid #007bff; /* Linea sotto il link attivo */
  padding-bottom: 2px;
  font-size: 1.1rem;
}
