<div class="container-fluid px-0">
  <div class="row">
    <div class="col-md-12">
      <div class="d-flex justify-content-center mb-3">
        <div class="flex-grow-0 vw-100">
          <input type="text" class="form-control form-control-sm" placeholder="Inserisci il testo da cercare"
                 (keyup.enter)="searchKey($event)"/>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div class="flex-grow-0">
          <p class="text-muted">{{orders.content.length}} elementi di {{orders.totalElements}} totali</p>
        </div>
        <div class="flex-grow-0">
          <nav aria-label="Paginazione ordini" class="me-2">
            <ul class="pagination pagination-sm">

              <!-- Pulsante "Precedente" -->
              <li class="page-item" [class.disabled]="orders.first">
                <a class="page-link" (click)="goToPage(currentPage - 1)" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>

              <!-- Pagine dinamiche (mostra solo un range di 5 pagine) -->
              <li class="page-item">
                <a class="page-link" (click)="goToPage(startPage)">First</a>
              </li>

              <!-- Pagine dinamiche (mostra solo un range di 5 pagine) -->
              <li *ngFor="let i of [].constructor(endPage - startPage + 1); let index = index"
                  class="page-item" [class.active]="(startPage + index) === currentPage">
                <a class="page-link" (click)="goToPage(startPage + index)">{{ startPage + index + 1 }}</a>
              </li>


              <!-- Pagine dinamiche (mostra solo un range di 5 pagine) -->
              <li class="page-item">
                <a class="page-link" (click)="goToPage(endPage)">Last</a>
              </li>

              <!-- Pulsante "Successivo" -->
              <li class="page-item" [class.disabled]="orders.last">
                <a class="page-link" (click)="goToPage(currentPage + 1)" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>

            </ul>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mb-3" *ngFor="let order of orders.content">
          <div class="card shadow-sm">
            <div class="card-header text-white d-flex justify-content-between align-items-center">
              <!-- Sezione Ordine (Sinistra) -->
              <div>
                <span class="card-title fw-bold">Ordine: {{ order.code }}</span>
                <span class="card-title fw-bold ms-5">Prodotti: {{ order.items.length }}</span>
                <span class="card-title fw-bold ms-5">Quantità totali: {{ calculateTotalQuantityByOrderItems(order.items) }}</span>
              </div>

              <!-- Sezione Pulsanti (Destra) -->
              <div>
                <ng-container *ngIf="order.status === orderStatusEnum.NEW">
                  <button class="btn btn-success btn-sm me-2 fw-bold" (click)="acceptOrder(order)">Accetta</button>
                  <button class="btn btn-danger btn-sm fw-bold" (click)="openActionModal(rejectOrderModal, order)">
                    Rifiuta
                  </button>
                </ng-container>
                <ng-container *ngIf="order.status === orderStatusEnum.ACCEPTED">
                  <button class="btn btn-secondary btn-sm me-2 fw-bold"
                          (click)="openActionModal(downloadLabelOrderModal, order)">Ottieni etichetta
                  </button>
                  <button class="btn btn-primary btn-sm me-2 fw-bold" (click)="deliveryOrder(order)">Affidato al
                    corriere
                  </button>
                </ng-container>
              </div>
            </div>
            <div class="d-flex flex-row" [ngClass]="order.items.length > 3 ? 'overflow-x-scroll' : ''">

              <div class="carousel-container">
                <ngb-carousel>
                  <ng-template ngbSlide *ngFor="let img of getImagesByItems(order)">
                    <img [src]="img" alt="Product image">
                  </ng-template>
                </ngb-carousel>
              </div>

              <!-- Dettagli ordine -->
              <div class="p-3 flex-grow-1" [ngClass]="order.items.length > 1 ? 'order-item' : ''"
                   *ngFor="let item of order.items">
                <table class="table table-sm table-borderless">
                  <tbody>
                  <tr>
                    <td class="td-head">Quantità</td>
                    <td>{{ item.quantity}}</td>
                  </tr>
                  <tr>
                    <td class="td-head">Descrizione</td>
                    <td class="ellipsis-text">{{ item.description}}</td>
                  </tr>
                  <tr>
                    <td class="td-head">SKU</td>
                    <td>{{ item.sku}}</td>
                  </tr>
                  <tr>
                    <td class="td-head">Ordinato il</td>
                    <td>{{ order.orderedAt | date:'dd/MM/yyyy HH:mm'}}</td>
                  </tr>
                  <ng-container *ngIf="order.status === orderStatusEnum.ACCEPTED">
                    <tr>
                      <td class="td-head">Da spedire entro il</td>
                      <td>{{ order.deliveryDate | date:'dd/MM/yyyy' }}</td>
                    </tr>
                  </ng-container>
                  <ng-container *ngIf="order.status === orderStatusEnum.CANCELLED">
                    <tr>
                      <td class="td-head">Cancellato il</td>
                      <td>{{ order.orderedAt | date:'dd/MM/yyyy HH:mm' }} -
                        Motivo: {{ 'CAMPO DA GESTIRE A DB INSIEME ALLA DATA DELLA CANCELLAZIONE' }}</td>
                    </tr>
                  </ng-container>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="col-md-3">
      <div class="mb-3">
        <label for="searchSKU" class="form-label">Cerca per SKU</label>
        <input id="searchSKU" type="text" class="form-control">
      </div>
      <button class="btn btn-dark btn-sm w-100">Applica Filtri</button>
      <button class="btn btn-sm btn-outline-dark w-100 mt-3">Reset Filtri</button>
    </div>-->
  </div>
</div>

<!-- Modale di Rifiuto Ordine -->
<ng-template #rejectOrderModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Ordine {{selectedOrder?.code}}</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <p>Inserisci la motivazione per cui stai rifiutando l'ordine</p>
    <textarea class="form-control" [(ngModel)]="cancellationReason"></textarea>
    <p class="text-muted fst-italic">Scrivi un minimo di 10 caratteri per rifiutare</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="modal.dismiss()">Annulla</button>
    <button class="btn btn-danger fw-bold" (click)="modal.close('rejectOrder')"
            [disabled]="cancellationReason.trim().length < 10">Rifiuta
    </button>
  </div>
</ng-template>

<!-- Modale di Stampa etichetta -->
<ng-template #downloadLabelOrderModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Ordine {{selectedOrder?.code}}</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <p>Carica la fattura di vendita per procedere al download dell'etichetta</p>
    <input class="form-control form-control-sm" type="file" accept="application/pdf"/>
    <p class="mt-2 text-muted fst-italic">Il formato deve essere .pdf</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="modal.dismiss()">Annulla</button>
    <button class="btn btn-success fw-bold" (click)="modal.close('uploadAndDownloadLabel')">Ottieni etichetta
    </button>
  </div>
</ng-template>
