<div class="login-container vh-100">
  <form class="form-signin" (ngSubmit)="onSubmit()">
    <div class="d-flex justify-content-center">
      <img src="assets/logo-letter-7.png" alt="Logo">
    </div>
    <div class="mt-lg-5">
      <div *ngIf="errorMessage" class="alert alert-primary" role="alert">
        {{errorMessage}}
      </div>
      <label for="inputEmail" class="sr-only fw-bold">Username</label>
      <input type="email"  name="username" id="inputEmail" class="form-control" required [(ngModel)]="loginData.username">
      <label for="inputPassword" class="sr-only fw-bold">Password</label>
      <input type="password" name="password" id="inputPassword" class="form-control" required [(ngModel)]="loginData.password">
      <button class="mt-lg-5 btn btn-block btn-blue-logo fw-bold" type="submit">Entra</button>
    </div>
  </form>
</div>
